# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/p022_names.txt
/p042_words.txt
/p054_poker.txt
/p059_poker.txt
/p079_keylog.txt
/p089_roman.txt
/p098_words.txt
/p099_base_exp.txt
